<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>GoldenAxePremiumBar</display-name>
	<servlet>
		<servlet-name>Cadastro</servlet-name>
		<display-name>Cadastro</display-name>
		<description></description>
		<servlet-class>Servlet.Cadastro</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Alteracao</servlet-name>
		<display-name>Alteracao</display-name>
		<description></description>
		<servlet-class>Servlet.Alteracao</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Exclusao</servlet-name>
		<display-name>Exclusao</display-name>
		<description></description>
		<servlet-class>Servlet.Exclusao</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlterarFornecedor</servlet-name>
		<display-name>AlterarFornecedor</display-name>
		<description></description>
		<servlet-class>Servlet.AlterarFornecedor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Comanda</servlet-name>
		<display-name>Comanda</display-name>
		<description></description>
		<servlet-class>Servlet.Comanda</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<display-name>UserLogin</display-name>
		<description></description>
		<servlet-class>Servlet.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cadastro</servlet-name>
		<url-pattern>/Cadastro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Alteracao</servlet-name>
		<url-pattern>/Alteracao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Exclusao</servlet-name>
		<url-pattern>/Exclusao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlterarFornecedor</servlet-name>
		<url-pattern>/AlterarFornecedor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Comanda</servlet-name>
		<url-pattern>/Comanda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
