#usuarioLogado{
	left: 66%;
}

#cadastroCliente{
	margin-left: 40px;
}

#cadastroFuncionario{
	margin-left: 40px;
}

#inputIcon{
	width:180px;
}

#overviewMesas{
	margin-top:25px;
	text-align:center;
}

#overviewMesas img{
	cursor:pointer;
	margin: 0px 10px 10px 10px;
}


#sideBarMesas{
/* 	background-color: #E6E6FA; */
}
